

@mixin safe-area() {
	/* Stay within save limits (avoids camera black hole) */
	padding-top: max(0px, env(safe-area-inset-top));
	padding-bottom: max(0px, env(safe-area-inset-bottom));
	padding-left: max(0px, env(safe-area-inset-left));
	padding-right: max(0px, env(safe-area-inset-right));
}


* {
	box-sizing: border-box;
}


.web_mode, .app_mode {
	display: none;
}

@media all and (display-mode: standalone) {
	.app_mode {
		display: block;
	}
}

@media all and not (display-mode: standalone) {
	.web_mode {
		display: block;
	}
}


.app_stores img {
	margin: 10px;
	height: 50px;
}


@supports(padding: max(0px)) {
	#app {
		position: relative;
		@include safe-area;
	}
}


