/* @import './base.css'; */

a:link { color: #bf8e6d; }
a:visited { color: #bf8e6d; }
a:active { color: #ffbd91; }
a:hover { color: #ffbd91; }


#app {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

